<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Concessionária Low Wheels</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <div class = "col-8 m-auto pt-2 pb-2 text-center">
        <h1>Concessionária Low Wheels</h1>
    </div>

    <div class = "col-8 m-auto pt-3 pb-2 text-center">
        <a href = "/form" class = "btn btn-success">Adicionar</a>
    </div>

    <div class = "col-8 m-auto pt-4 pb-2 text-center">
        <table class="table table-bordered table-dark">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Placa</th>
              <th scope="col">Cor</th>
              <th scope="col">Ano de Fabricação</th>
              <th scope="col">Modelo</th>
                <th scope="col">Ano Modelo</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@opan</td>
              <td>@hello</td>

            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>@fat32</td>
              <td>@vpn</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
              <td>@mdo</td>
              <td>@mdo</td>
            </tr>
          </tbody>
        </table>
    </div>
</body>
</html>